.moviescardlist {
    margin: 0 auto;
    padding: 80px 0;
    border-top: 1px solid #424242;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1140px;
}

.moviescardlist__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px);
    gap: 60px 30px;
    margin-bottom: 80px;
    justify-content: center;
    padding: 0;
}

.moviescardlist__button {
    width: 320px;
    height: 36px;
    background-color: #202020;
    border: 1px solid #424242;
    border-radius: 6px;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    transition: all 0.3s;
}

.moviescardlist__button:hover {
    opacity: .8;
}

@media screen and (max-width: 1280px) {
    .moviescardlist {
        max-width: calc(100vw - 140px);
    }
}

@media screen and (max-width: 900px) {
    .moviescardlist {
        max-width: calc(100vw - 60px);
    }

    .moviescardlist__container {
        grid-template-columns: repeat(auto-fill, 339px);
        gap: 50px 30px;
    }
}

@media screen and (max-width: 400px) {
    .moviescardlist {
        max-width: calc(100vw - 20px);
    }

    .moviescardlist__container {
        grid-template-columns: repeat(auto-fill, 300px);
        gap: 40px 30px;
    }

    .moviescardlist__button {
        width: calc(100% - 60px);
    }
}