.nav-tab {
    margin: 141px auto 20px auto;
    display: flex;
    flex-direction: row;
}

.nav-tab__link {
    text-decoration: none;
    transition: opacity 0.3s;
}

.nav-tab__link:hover {
    opacity: 0.8;
}

.nav-tab__container {
    width: 96px;
    height: 36px;
    background-color: #303030;
    border-radius: 10px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-tab__text {
    color: white;
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .nav-tab {
        margin-top: 300px;
    }
}

@media screen and (max-width: 620px) {
    .nav-tab__container {
        width: 82px;
        height: 26px;
        margin: 0 3px;
        border-radius: 6px;
    }

    .nav-tab__text {
        font-size: 10px;
    }

    .nav-tab {
        margin-top: 200px;
    }
}